.test {
    height: 100px;
    width: 306px;
    background-image: url('project://database/Assets/Plugins/Pixel%20Crushers/Dialogue%20System/Prefabs/Art/Textures/Mobile/PanelBar.png?fileID=2800000&guid=8ae6b3bd2771d7140b1ba50d68a41d21&type=3#PanelBar');
    -unity-font: url('project://database/Assets/TextMesh%20Pro/CustomFonts/SF%20Atarian%20System.ttf?fileID=12800000&guid=f1c552dbff2beb040b577c8ce03f9b36&type=3#SF Atarian System');
    font-size: 25px;
    -unity-font-style: bold;
    left: auto;
    top: auto;
    background-color: rgba(188, 188, 188, 0);
    margin-left: 4px;
    margin-right: 4px;
    margin-top: 4px;
    margin-bottom: 15px;
    color: rgb(255, 255, 255);
    border-left-color: rgba(0, 0, 0, 0);
    border-right-color: rgba(0, 0, 0, 0);
    border-top-color: rgba(0, 0, 0, 0);
    border-bottom-color: rgba(0, 0, 0, 0);
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.test:hover {
    height: 100px;
    width: 306px;
    background-image: url('project://database/Assets/Plugins/Pixel%20Crushers/Dialogue%20System/Prefabs/Art/Textures/Mobile/PanelBar.png?fileID=2800000&guid=8ae6b3bd2771d7140b1ba50d68a41d21&type=3#PanelBar');
    -unity-font: url('project://database/Assets/TextMesh%20Pro/CustomFonts/SF%20Atarian%20System.ttf?fileID=12800000&guid=f1c552dbff2beb040b577c8ce03f9b36&type=3#SF Atarian System');
    font-size: 25px;
    -unity-font-style: bold;
    left: auto;
    top: auto;
    background-color: rgba(238, 238, 238, 0);
    margin-left: 4px;
    margin-right: 4px;
    margin-top: 4px;
    margin-bottom: 15px;
    color: rgb(255, 255, 255);
    border-left-color: rgba(0, 0, 0, 0);
    border-right-color: rgba(0, 0, 0, 0);
    border-top-color: rgba(0, 0, 0, 0);
    border-bottom-color: rgba(0, 0, 0, 0);
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    -unity-background-image-tint-color: rgba(161, 139, 139, 255);
}

.test:active {
    height: 100px;
    width: 306px;
    background-image: url('project://database/Assets/Plugins/Pixel%20Crushers/Dialogue%20System/Prefabs/Art/Textures/Mobile/PanelBar.png?fileID=2800000&guid=8ae6b3bd2771d7140b1ba50d68a41d21&type=3#PanelBar');
    -unity-font: url('project://database/Assets/TextMesh%20Pro/CustomFonts/SF%20Atarian%20System.ttf?fileID=12800000&guid=f1c552dbff2beb040b577c8ce03f9b36&type=3#SF Atarian System');
    font-size: 25px;
    -unity-font-style: bold;
    left: auto;
    top: auto;
    background-color: rgba(238, 238, 238, 0);
    margin-left: 4px;
    margin-right: 4px;
    margin-top: 4px;
    margin-bottom: 15px;
    color: rgb(113, 113, 113);
    border-left-color: rgba(0, 0, 0, 0);
    border-right-color: rgba(0, 0, 0, 0);
    border-top-color: rgba(0, 0, 0, 0);
    border-bottom-color: rgba(0, 0, 0, 0);
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    -unity-background-image-tint-color: rgb(128, 96, 96);
}
